service.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://example.com/wsdl"
             xmlns:tns="http://example.com/wsdl">

    <types>
        <xs:schema targetNamespace="http://example.com/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="Request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Input" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Output" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>

    <message name="RequestMessage">
        <part name="parameters" element="tns:Request"/>
    </message>
    <message name="ResponseMessage">
        <part name="parameters" element="tns:Response"/>
    </message>

    <portType name="ExamplePortType">
        <operation name="GetXMLResponse">
            <input message="tns:RequestMessage"/>
            <output message="tns:ResponseMessage"/>
        </operation>
    </portType>

    <binding name="ExampleBinding" type="tns:ExamplePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="GetXMLResponse">
            <soap:operation soapAction="http://example.com/wsdl/GetXMLResponse"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="ExampleService">
        <port name="ExamplePort" binding="tns:ExampleBinding">
            <soap:address location="https://wsdl-service.onrender.com/soap-service"/>
        </port>
    </service>
</definitions>
